@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  max-height: 100vh !important;
  background-color: rgb(0, 69, 101);
}

.container2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh !important;
  background-color: rgb(0, 69, 101);
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(12, 12, 64);
  justify-content: space-between;
}

.navbar h2 {
  color: white;
  margin-left: 40px;
  font-weight: 100;
}

.navbar1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgb(108, 108, 248);
}

.navbarGroup {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarGroup input {
  padding: 6px;
  margin-right: 5px;
}

#search {
  background-color: rgb(74, 74, 74);
  padding: 5px;
  border-radius: 5px;
}

.buttonNav {
  border: 0;
  margin: 15px;
  padding: 8px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 16px;
}

.inicio {
  margin-left: 30px;
}

.buttonNav:hover {
  background-color: rgb(60, 170, 234, 0.8);
  cursor: pointer;
}


.containerBooks {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.containerBooks2 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupL{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.groupL h2{
  margin-right: 10px;
}

.formzin{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

}

.containerBooksIN {
  width: 50%;
  background-color: white;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.containerBooksIN2 {
  width: 50%;
  background-color: rgb(234, 234, 234);
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  justify-content: center;
  align-items: center;
}

.addContainer{
  width: 24%;
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgb(173, 255, 162);
  display: flex;
  justify-content: center;
  align-items: center;

}

.linkGroup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.addBook{
  margin-top: 30px;
  height: 60%;
  width: 50%;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;

}

.addBook label{
  font-size: 12px;
  margin-top: 10px;
}
.addBook input{
  border: none;
  border-radius: 8px;
  padding: 8px;
  height: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 10px !important;;
}

.submitButton{
  height: 30px;
  margin-top: 10px;
  background-color: rgb(51, 180, 51);
  border: none;
  border-radius: 8px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  animation: aparecer 2s;
}

.searchDiv{
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#searchB{
  border: none;
  width: 40%;
  height: 20px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px;
}

#ButtonS{
  margin-top: 15px;
  width: 40%;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: rgb(100, 100, 180);
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (max-width: 620px) {
  .navbar {
    justify-content: center;
  }

  .navbar h2 {
    margin: 0 !important;
  }

  .container {
    max-height: 100vh;
  }
}

@keyframes aparecer {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}